@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --red-color: #81202c;
    --blue-color: #233762
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.img {
  max-width: 100%;
}

.social-icons {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
  justify-content: center;
  display: flex;
  align-items: center;
}

.hero-content {
  padding: 2rem;
  border-radius: 1px;
}

.welcome-section {
  background-image: url('/welcome-academia.webp');
}

.red-color {
  color: var(--red-color);
}

.blue-color {
  color: var(--blue-color);
}

.bg-red-color {
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}

.bg-red-color-wo-hover {
  background-color: var(--red-color);
}

.bg-red-color:hover {
  background: #FFF !important;
  border: 1px solid var(--red-color);
  color: var(--red-color)
}

.global-connect {
  background-image: url('/connect_bg.png');
  background-size: cover;
}

.why-choos-us {
  background-image: url('/explore_bg.png');
}

.bg-blue-color {
  background-color: var(--blue-color) !important;
}

.reserch-innovation {
  background-image: url('/research_bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.events {
  background-image: url('/events_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gray-events {
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(32px);
}

.guru-image {
  width: 150px;
  height: 150px;
}

.border-right {
  border-right: 2px solid #FFFFFF;
}

.goals-point {
  border-left: 6px solid var(--red-color);
  padding-right: 8px;
}

.university-about {
  background-image: url("https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2186&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay-effect::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.schools-div:nth-child(1),
.schools-div:nth-child(2),
.schools-div:nth-child(4),
.schools-div:nth-child(5) {
  border-right: 1px solid #FFFFFF;
}

@media only screen and (min-width: 991px) {
  .header-bg {
    background-color: rgba(92, 48, 92, 0.2) !important;
    /* padding: 18px !important; */
  }
}

@media only screen and (max-width: 667px) {
  .md-flex {
    flex-direction: column;
    gap: 20px;
  }

  .border-right {
    border-right: none;
  }

  .hero-content {
    padding: 0;
  }

  .schools-div {
    border-bottom: 1px solid #FFFFFF;
  }

  .schools-div:nth-child(1),
  .schools-div:nth-child(2),
  .schools-div:nth-child(4),
  .schools-div:nth-child(5) {
    border-right: none;
  }
}